<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecord Table's Data</h1>
        <table border="2px" style="border-collapse:collapse">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
                <th>email</th>
            </tr>

        {% for ao in QSARO %}

        <tr>
            <td>{{ao.Name}}</td>
            <td>{{ao.Date}}</td>
            <td>{{ao.Author}}</td>
            <td>{{ao.email}}</td>
        </tr>

        {% endfor %}

        </table>
    </center>
</body>
</html>